AZURE_ENV_NAME="models-playground-9400"
AZURE_LOCATION="Enter your Azure location here"
AZURE_SUBSCRIPTION_ID="your-subscription-id-here"

AZURE_AI_MODEL_DEPLOYMENT_NAME="computer-use-preview"
PROJECT_ENDPOINT="Enter your project endpoint here"